<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Include>[Zuhid.Notification]*,[Zuhid.Notification.Api]*</Include>
					<Exclude>[Zuhid.Notification]*Migrations.*,[Zuhid.Notification.Api]*Program,</Exclude>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
